---

import Customtitle from "../components/Customtitle.astro"
import MainLayout from "../layouts/MainLayout.astro"
---
<MainLayout title="About">
<h1>About us!</h1>
    <h1><Customtitle title="This is the about page" /></h1>
</MainLayout>
