---
import Customtitle from "../components/Customtitle.astro";
import MainLayout from "../layouts/MainLayout.astro";
//server only
const name = "Alessandro Díaz Gonzalez";
---

	<MainLayout title="Home">
		<h1>{name}</h1>
		<h1>{<Customtitle title="This is the home page" />}</h1>
		<p>momento actual: {new Date().toLocaleString()}</p>

		<p id="realYear">momento actual  real: {}</p>
		
		<script>
			//client only
			const currentYear:  number = new Date().getFullYear();
			const footer = document.querySelector('footer') as HTMLElement;
			footer.textContent = currentYear.toString();
	
		
			const year = document.querySelector('#realYear') as HTMLParagraphElement;
			year.innerText = `Momento actual  real : ${ new Date().toLocaleTimeString() }`;
	
		</script>
	</MainLayout>
	<!-- is:global aplica a todas las etiquetas -->
	 <!-- is:inline  aplica  a la etiqueta pero mantiene  el scope -->
	  <!-- is:raw No toca al elemento nihace ningun procesamiento  -->
	<style is:global> 
		/* styles cada  etiqueta style tiene scope */
		h1 {
			font-size: 3rem;
			margin: 0;
			padding: 0;
			color: red;
		}
	</style>

